# Node.js dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*

# OS-specific files
.DS_Store

# Editor-specific files
.vscode/

# Git-related files
.git/

# Local env files
.env
package-lock.json